Given this question and email excerpts, can the question be answered?

Question: {{ question }}

Email excerpts:
{{ context_summary }}

Respond with ONLY one word: "YES" if the emails contain enough information to answer the question, or "NO" if they don't.
