@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Professional light theme */
    --background: 0 0% 100%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5.9% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 240 5.9% 95%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 5.9% 95%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 95%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 20 5% 5%;
    --foreground: 0 0% 98%;
    --card: 150 5% 26%;
    --card-foreground: 0 0% 98%;
    --popover: 20 5% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 10%;
    --secondary: 140 10% 16%;
    --secondary-foreground: 0 0% 95%;
    --muted: 150 5% 32%;
    --muted-foreground: 0 0% 85%;
    --accent: 140 70% 45%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 5% 32%;
    --input: 0 0% 100%;
    --ring: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  height: 100%;
}
